{include file="public/header" /}
<div class="col-6 col-md">
	<section class="panel panel-default">
		<header class="panel-header">
			<div class="title"><i class="icon-arrow-down-solid"></i>用户信息</div>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<div class="name">用户名</div>
				<div class="input">
					<p class="label">{$_user['username']}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="name">姓名</div>
				<div class="input">
					<p class="label">{$_user['realname']}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="name">角色</div>
				<div class="input">
					<p class="label">{$_user['role_name']}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="name">手机号</div>
				<div class="input">
					<p class="label">{$_user['mobile']}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="name">E-mail</div>
				<div class="input">
					<p class="label">{$_user['email']}</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="col-6 col-md">
	<section class="panel panel-default">
		<header class="panel-header">
			<div class="title"><i class="icon-arrow-down-solid"></i>系统信息</div>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<div class="name">服务器</div>
				<div class="input">
					<p class="label">{:request()->ip()}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="name">ThinkPHP版本</div>
				<div class="input">
					<p class="label">{$Think.const.THINK_VERSION}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="name">运行环境</div>
				<div class="input">
					<p class="label">{$Think.const.PHP_OS} + {$_SERVER['SERVER_SOFTWARE']} + PHP{:PHP_VERSION}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="name">MYSQL版本</div>
				<div class="input">
					{php}$system_info_mysql = db()->query("select version() as v;");{/php}
					<p class="label">{$system_info_mysql.0.v}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="name">文件系统</div>
				<div class="input">
					{php}
						$file_model = model('File');
						$file_num   = $file_model->count();
						$file_size  = $file_model->sum('size');
					{/php}
					<p class="label">上传限制{:ini_get('upload_max_filesize')}，{$file_num}个文件，总共{:filesize_desc($file_size)}</p> 
				</div>
			</div>
		</div>
	</section>
</div>
{include file="public/footer" /}