{eq name="is_wrap_name" value="1"}
<div class="form-group">
	<div class="name">{$show_name}</div>
	<div class="input">
{/eq}
	<select name="{$field_name}" {$is_required ? 'required' : ''} title="请选择">
		<option value="">请选择{$show_name}</option>
		{volist name="_category_list" id="rs"}
			<option value="{$rs['category_id']}" {$rs['category_id'] == $field_value ? 'selected' : ''}>{$rs['title']}</option>
		{/volist}
	</select>
	{notempty name="show_desc"}
		<div class="help">{$show_desc}</div>
	{/notempty}
{eq name="is_wrap_name" value="1"}
	</div>
</div>
{/eq}