<form class="ajax-form" style="width: 300px;" method="post" action="{$_cur_url}">
	<div class="form-group">
		<span class="name">用户ID</span>
		<div class="input">
			<p class="label">{$info['user_id']}</p>
		</div>
	</div>
	<div class="form-group">
		<span class="name">昵称</span>
		<div class="input">
			<p class="label">{$info['nickname']}</p>
		</div>
	</div>
	<div class="form-group">
		<span class="name">密码</span>
		<div class="input">
			<input type="password" name="password" value="" class="form-control password" placeholder="密码不能为空！" required>
		</div>
	</div>
	<div class="form-group">
		<span class="name">确认密码</span>
		<div class="input">
			<input type="password" name="repassword" class="form-control" placeholder="请再次输入密码！" required equalTo=".password">
		</div>
	</div>

	<div class="win-opt-box">
		<button type="submit" class="btn btn-confirm"><i class="icon-save"></i>确定</button>
		<button type="button" class="btn btn-cancel remove-win"><i class="icon-error"></i>取消</button>
	</div>
</form>
<script type="text/javascript">
// 密码MD5加密
$('form').on('submit', function () {
	$('input[type="password"]').each(function () {
		if(!$(this).hasClass('not-md5') && $(this).val()){
			var password     = $(this).val();
			var password_md5 = $.md5(password);
			$(this).val(password_md5);
		}
	});
});
</script>