{include file="public/header" /}
<style type="text/css">
.icon-group{ line-height: 20px; }
.icon-group div{ font-size: 12px; margin: 5px 0; }
.icon-group div i{ float: left; width: 30px; height: 30px; text-align: right; display: inline-block; margin-right: 10px; }
.icon-group div:hover{ }
.icon-group div:hover i{ color: #2c81b9; font-size: 30px; }
</style>
<section class="panel panel-default">
	<header class="panel-header">
		<div class="title"><i class="icon-arrow-down-solid"></i>图标清单</div>
	</header>
	<div class="panel-body">
		<div class="icon-group">
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-user"></i>icon-user</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-liebiao"></i>icon-liebiao</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-back"></i>icon-back</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-search"></i>icon-search</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-system"></i>icon-system</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-full-screen"></i>icon-full-screen</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-download"></i>icon-download</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-warn"></i>icon-warn</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-arrow-up-solid"></i>icon-arrow-up-solid</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-reset"></i>icon-reset</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-delete"></i>icon-delete</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-view"></i>icon-view</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-success"></i>icon-success</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-error"></i>icon-error</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-plus"></i>icon-plus</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-money"></i>icon-money</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-restore"></i>icon-restore</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-update"></i>icon-update</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-loading"></i>icon-loading</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-order"></i>icon-order</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-password"></i>icon-password</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-save"></i>icon-save</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-index"></i>icon-index</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-restore-screen"></i>icon-restore-screen</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-download-cloud"></i>icon-download-cloud</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-channel"></i>icon-channel</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-sample"></i>icon-sample</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-arrow-down-solid"></i>icon-arrow-down-solid</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-arrow-right-solid"></i>icon-arrow-right-solid</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-channel-on"></i>icon-channel-on</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-arrow-right"></i>icon-arrow-right</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-arrow-left"></i>icon-arrow-left</a></div>
			<div class="col-3"><a href="javascript:void(0);" class="clipboard-icon"><i class="icon-arrow-right"></i>icon-arrow-right</a></div>
		</div>
	</div>
</section>
{include file="public/footer" /}