{include file="public/header" /}
<style type="text/css">
.button-group .btn{
	margin-bottom: 5px;
}
</style>
<div class="col-6">
	<section class="panel panel-default">
		<header class="panel-header">
			<div class="title"><i class="icon-arrow-down-solid"></i>正常按钮</div>
		</header>
		<div class="panel-body">
			<div class="button-group">
				<a href="#" class="btn btn-s-md btn-default">Default</a>
				<a href="#" class="btn btn-s-md btn-primary">Primary</a>
				<a href="#" class="btn btn-s-md btn-success">Success</a>
				<a href="#" class="btn btn-s-md btn-info">Info</a>
				<a href="#" class="btn btn-s-md btn-warning">Warning</a>
				<a href="#" class="btn btn-s-md btn-danger">Danger</a>
				<a href="#" class="btn btn-s-md btn-dark">Dark</a>
				<a href="#" class="btn btn-s-md btn-default disabled">Disabled</a>
			</div>
		</div>
	</section>
</div>

<div class="col-6">
	<section class="panel panel-default">
		<header class="panel-header">
			<div class="title"><i class="icon-arrow-down-solid"></i>圆角按钮</div>
		</header>
		<div class="panel-body">
			<div class="button-group">
				<a href="#" class="btn btn-s-md btn-default btn-round">Default</a>
				<a href="#" class="btn btn-s-md btn-primary btn-round">Primary</a>
				<a href="#" class="btn btn-s-md btn-success btn-round">Success</a>
				<a href="#" class="btn btn-s-md btn-info btn-round">Info</a>
				<a href="#" class="btn btn-s-md btn-warning btn-round">Warning</a>
				<a href="#" class="btn btn-s-md btn-danger btn-round">Danger</a>
				<a href="#" class="btn btn-s-md btn-dark btn-round">Dark</a>
				<a href="#" class="btn btn-s-md btn-default disabled btn-round">Disabled</a>
			</div>
		</div>
	</section>
</div>

<div class="col-6">
	<section class="panel panel-default">
		<header class="panel-header">
			<div class="title"><i class="icon-arrow-down-solid"></i>图标按钮</div>
		</header>
		<div class="panel-body">
			<div class="button-group">
				<a href="#" class="btn btn-s-md btn-default"><i class="icon-user"></i>Default</a>
				<a href="#" class="btn btn-s-md btn-primary"><i class="icon-success"></i>Primary</a>
				<a href="#" class="btn btn-s-md btn-success"><i class="icon-reset"></i>Success</a>
				<a href="#" class="btn btn-s-md btn-info"><i class="icon-view"></i>Info</a>
				<a href="#" class="btn btn-s-md btn-warning"><i class="icon-money"></i>Warning</a>
				<a href="#" class="btn btn-s-md btn-danger"><i class="icon-error"></i>Danger</a>
				<a href="#" class="btn btn-s-md btn-dark btn-round"><i class="icon-user"></i>Dark</a>
				<a href="#" class="btn btn-s-md btn-default disabled btn-round"><i class="icon-user"></i>Disabled</a>
			</div>
		</div>
	</section>
</div>

{include file="public/footer" /}